---
import Layout from "../layouts/Layout.astro";
import Footer from "../layouts/Footer.astro";
---


<Layout title="About Us">
    <style>

           body {
            background-color: #2f3030;
            color: whitesmoke;
        }
        h1 {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 40px;
            background-image: linear-gradient(to right, #5f5e65, #2f3030);
            padding: 20px;
            border-radius: 10px;
            color: whitesmoke;
        }
        footer {
            text-align: center;
            margin-top: 50px;
            color: whitesmoke;
        }
    </style>
  <h1>About Us</h1>
<div class="container">
    <p>We are the Nalty Brothers, creators of the Hexus universe.</p>
    <p>Our goal is to build a rich and immersive world for our readers.</p>
</div>


  <Footer />
</Layout>