---
import Layout from "../layouts/Layout.astro";
import Footer from "../layouts/Footer.astro";
---
<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet">
<style is:global>
    body {
        font-family: 'Cinzel', serif;
    }
</style>

<Layout title="About Us">
    <style>

           body {
            background-color: #2f3030;
            color: whitesmoke;
        }
        h1 {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 40px;
            background-image: linear-gradient(to right, #5f5e65, #2f3030);
            padding: 20px;
            border-radius: 10px;
            color: whitesmoke;
        }
        footer {
            text-align: center;
            margin-top: 50px;
            color: whitesmoke;
        }
    </style>

<h1>About Us</h1>
<div class="container">
    <p>We are the Nalty Brothers, Bryan and Stephen. The Irish born creators of the Hexus universe.</p>
    <p>Our goal is to build a rich and immersive world for our readers.</p>
    <p>This has been a passion project that has grown and evolved over the last two decades.</p>
    <p>We hope you enjoy exploring the Hexus universe as much as we enjoyed creating it.</p>
    <p>This site is just a small peak into the vast world we've built and we will hopefully have more to share in the future.</p>
</div>



  <Footer />
</Layout>